LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT=<your-langsmith-project-name>

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=gemma3:12b

EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text
